@import 'tailwindcss';
@plugin "daisyui";

* {
	--primary-orange: #ff7000;
}

body {
	margin: 0px;
	height: 100dvh;
	min-height: 100dvh;
}

#bg-image {
	width: 100vw;
	height: 100dvh;
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: -50;
	background-image: url('lib/assets/background.jpg');
	background-position: right;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position-x: 60%;
}

main {
	height: 100dvh;
	min-height: 100dvh;
}

.primary-background {
	background-color: var(--primary-orange);
}

.primary-text {
	color: var(--primary-orange);
}

.text-primary {
	color: var(--clr-light-a0);
}

@plugin "daisyui/theme" {
	name: 'black';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: #121212;
	--color-base-200: oklch(19% 0 0);
	--color-base-300: oklch(22% 0 0);
	--color-base-content: oklch(87.609% 0 0);
	--color-primary: #ffd700;
	--color-primary-content: oklch(14% 0.004 49.25);
	--color-secondary: oklch(35% 0 0);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(35% 0 0);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(35% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(45.201% 0.313 264.052);
	--color-info-content: oklch(89.04% 0.062 264.052);
	--color-success: oklch(51.975% 0.176 142.495);
	--color-success-content: oklch(90.395% 0.035 142.495);
	--color-warning: oklch(96.798% 0.211 109.769);
	--color-warning-content: oklch(19.359% 0.042 109.769);
	--color-error: oklch(62.795% 0.257 29.233);
	--color-error-content: oklch(12.559% 0.051 29.233);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

.zilla-slab-light {
	font-family: 'Zilla Slab', serif;
	font-weight: 300;
	font-style: normal;
}

.zilla-slab-regular {
	font-family: 'Zilla Slab', serif;
	font-weight: 400;
	font-style: normal;
}

.zilla-slab-medium {
	font-family: 'Zilla Slab', serif;
	font-weight: 500;
	font-style: normal;
}

.zilla-slab-semibold {
	font-family: 'Zilla Slab', serif;
	font-weight: 600;
	font-style: normal;
}

.zilla-slab-bold {
	font-family: 'Zilla Slab', serif;
	font-weight: 700;
	font-style: normal;
}

.zilla-slab-light-italic {
	font-family: 'Zilla Slab', serif;
	font-weight: 300;
	font-style: italic;
}

.zilla-slab-regular-italic {
	font-family: 'Zilla Slab', serif;
	font-weight: 400;
	font-style: italic;
}

.zilla-slab-medium-italic {
	font-family: 'Zilla Slab', serif;
	font-weight: 500;
	font-style: italic;
}

.zilla-slab-semibold-italic {
	font-family: 'Zilla Slab', serif;
	font-weight: 600;
	font-style: italic;
}

.zilla-slab-bold-italic {
	font-family: 'Zilla Slab', serif;
	font-weight: 700;
	font-style: italic;
}
